y1_sdk/build/
y1_sdk/y1_sdk/y1_sdk.cpython-38-x86_64-linux-gnu.so
y1_sdk/y1_sdk.egg-info
y1_sdk/y1_sdk/__pycache__

y1_ros2/build/
y1_ros2/devel/
y1_ros2/install/
y1_ros2/data/
y1_ros2/log/
y1_ros2/*bag
y1_ros2/.catkin_workspace
y1_ros2/src/CMakeLists.txt